---
import ContentWithSearch from './ContentWithSearch'
import Timestamp from './Timestamp'
import { type Content } from './Article'
import { filterContent } from '@shared/filterContent'
import { isAfter, parseISO, subHours } from 'date-fns'
import { partition } from 'lodash-es'
import AutoUpdateBanner from './AutoUpdateBanner'
import { getLastUpdateTimestamp, openDB } from 'src/dbUtils'
import Layout from 'src/layouts/Layout.astro'

interface Props {
  showExcluded?: boolean
}

const db = await openDB()

const rows = await db.all<
  Content & { childContent: string; classifyResult: string }
>(
  `SELECT content.contentId as id, content.sourceId, content.url, content.hash, content.title, content.author, content.timestamp as timestamp, content.contentTimestamp, content.sourceURL, summary.contentSummary, classifyResult, source.shortName as sourceShortName, json_group_array(json_object(
    'id', childContent.contentId,
    'url', childContent.url,
    'title', childContent.title,
    'timestamp', childContent.timestamp,
    'contentTimestamp', childContent.contentTimestamp,
    'sourceId', childContent.sourceId,
    'sourceURL', childContent.sourceURL,
    'contentSummary', childSummary.contentSummary,
    'sourceShortName', source.shortName
  )) FILTER (where childContent.contentId IS NOT NULL) as childContent
  FROM content
  LEFT JOIN source USING (sourceId)
  LEFT JOIN summary USING (contentId)
  LEFT JOIN classify USING (contentId)
  LEFT JOIN content childContent ON childContent.parentContentId = content.contentId
  LEFT JOIN summary childSummary ON childSummary.contentId = childContent.contentId
  WHERE content.timestamp > datetime('now', '-1 day') AND content.parentContentId IS NULL
  GROUP BY content.contentId
  ORDER BY content.timestamp DESC`,
)

const parsedRows = rows.map((content) => ({
  ...content,
  childContent: JSON.parse(content.childContent),
  classifyResult:
    content.classifyResult != null ? JSON.parse(content.classifyResult) : null,
}))

const [filteredRows, excludedRows] = partition(parsedRows, (row) => {
  if (row.classifyResult) {
    return filterContent(row.sourceId, row.classifyResult)
  }

  return true
})

const rowsWithChildren = await Promise.all(
  filteredRows.map(async (row) => {
    const childContent = await db.all<Content>(
      `
      SELECT contentId as id, sourceId, url, sourceURL, title, contentTimestamp, contentSummary, shortName as sourceShortName
      FROM content
      LEFT JOIN source USING (sourceId)
      LEFT JOIN summary USING (contentId)
      WHERE parentContentId = $parentContentId
    `,
      { $parentContentId: row.id },
    )
    return { ...row, childContent }
  }),
)

const now = Date.now()
const newPodcastThreshold = subHours(now, 12)

const newPodcasts = rowsWithChildren.filter(
  ({ sourceId, contentTimestamp }) =>
    sourceId.startsWith('podcast:') &&
    isAfter(parseISO(contentTimestamp + 'Z'), newPodcastThreshold),
)

const lastUpdate = await getLastUpdateTimestamp(db)

const { showExcluded = false } = Astro.props
---

<Layout>
  <header>
    <div class="title">
      <h1>
        <a href="/">Max's Digest</a>
      </h1>
      <a href="/about" class="info-button">?</a>
    </div>
    <div class="status">
      <span class="updated">
        updated
        <Timestamp client:load dateTime={parseISO(lastUpdate + 'Z')} /></span
      >
      <a class="excluded-count" href="/excluded"
        >{excludedRows.length} filtered</a
      >
    </div>
  </header>
  <main>
    <ContentWithSearch
      client:load
      rows={showExcluded ? excludedRows : filteredRows.slice(0, 100)}
      podcasts={showExcluded ? [] : newPodcasts}
      showClassifyInfo={showExcluded}
    />
    <AutoUpdateBanner client:load />
  </main>
  <script src="../scripts/fastRenderTimestamps.ts"></script>
  <style>
    main {
      article {
        position: relative;
        margin-bottom: 2rem;

        h2,
        .source {
          line-height: 2rem;
        }

        h2 {
          gap: 0.5em;
          margin-top: 0;
          margin-bottom: 0.5rem;
        }

        .info {
          display: flex;
          align-items: baseline;
          gap: 0.25rem 0.5rem;

          &.classify {
            font-size: 0.85rem;
            opacity: 0.7;
            flex-wrap: wrap;
          }
        }

        .domain {
          font-size: 0.85rem;
          font-weight: normal;
          margin-left: 1em;
        }

        time {
          font-size: 0.85em;
          opacity: 0.4;
        }

        .source,
        .podcast-name {
          font-weight: 600;
          color: var(--color-text);
          opacity: 0.6;
        }

        .source,
        h2,
        .podcast-name {
          font-stretch: 85%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .podcast {
          margin: 0.25em 0;
        }

        a {
          text-decoration: none;
          color: var(--color-link);
        }

        .summary {
          margin: 0.5rem 0;
        }

        p {
          margin: 0.5em 0;
        }

        ul {
          padding-left: 1em;
          margin-bottom: 0;
        }

        li {
          margin: 0.35em 0;
        }

        .child {
          background: var(--accent);
          padding: 0.25rem 1rem;
          margin: 0.5rem 0;

          .summary {
            margin: 0;
          }

          ul {
            margin: 0;
          }
        }

        &.digest {
          font-size: 1.1rem;
        }
      }
    }

    body {
      h1,
      .search input {
        margin-bottom: 2rem;
      }

      header {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-top: 0.5rem;

        .title {
          display: flex;
          flex-shrink: 0;
          flex-direction: row;
          align-items: center;
          margin: 1rem 0;
        }

        h1 {
          margin: 0;
        }

        .info-button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          font-weight: 600;
          width: 0.1rem;
          height: 0.1rem;
          padding: 6px;
          color: var(--color-text);
          border: 1px solid var(--color-text);
          border-radius: 4px;
          margin-left: 6px;
          margin-top: -8px;
          text-decoration: none;
          opacity: 0.75;
        }

        .status {
          flex: 1;
          display: flex;
          gap: 0 1rem;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .updated,
        .excluded-count {
          font-size: 0.9em;
          opacity: 0.7;
        }

        .excluded-count {
          color: var(--color-text);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .search {
        display: flex;

        input {
          display: flex;
          flex: 1;
          background: var(--accent);
          color: var(--color-text);
          border: 2px solid var(--accent-border);
          border-radius: 4px;
          box-sizing: content-box;
          padding: 1rem;
          font-size: 1.15rem;
        }
      }

      .update-banner {
        position: fixed;
        left: 50%;
        bottom: 16px;
        height: 3rem;
        padding: 0 32px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--update-bg);
        color: rgba(0, 0, 0, 0.75);
        font-weight: 500;
        border-radius: 8px;
        text-decoration: none;
      }
    }

    @media (max-width: 500px) {
      header {
        align-items: center;

        .status {
          flex-direction: column;
          gap: 0;
          align-items: flex-end;
          margin-top: 0.75rem;
        }
      }

      body {
        .update-banner {
          bottom: 8px;
          width: calc(100% - 16px);
          padding: 0;
        }
      }
    }
  </style>
</Layout>
